body {
  background-color: lightslategrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(206, 100, 100);
}

th {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: whitesmoke;
}

tr {
  background-color: whitesmoke;
  padding: 25px;
}

td {
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

.main-table {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.team-count {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
